# Copy this file to `.env` and set your bot token
# Example:
# BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
# For webhook deployment, set WEBHOOK_URL to your public URL (https://...)

BOT_TOKEN=8218535514:AAEuVHj4VFETjal2RrWQtZC4mzpWydkKM5c

